@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #222222;
  --primary: #000000;
  --secondary: #666666;
  --alternative: #f5f5f5;
  --accent: rgb(120, 160, 131);
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-alternative: var(--alternative);
  --color-accent: var(--accent);
  --background-image-hero: url('/img-hero.webp');
}

@layer {
  h3 {
    @apply text-3xl sm:text-5xl lg:text-6xl font-black leading-tight;
  }
  section {
    @apply w-full flex flex-col justify-center items-center pt-20;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 2em 1.5em 2em;
  background: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 250ms ease-out;
  cursor: pointer;
}
.menu-burger:before,
.menu-burger:after {
  content: '';
  width: 40px;
  height: 2px;
  position: absolute;
  background-color: var(--color-alternative);
  transition: all 250ms ease-out;
  will-change: transform;
}
.menu-burger:before {
  transform: translateY(-3px);
}
.menu-burger:after {
  transform: translateY(3px);
}
.active.menu-burger:before {
  transform: translateY(0) rotate(45deg);
}
.active.menu-burger:after {
  transform: translateY(0) rotate(-45deg);
}
.overlay {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.menu-item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.menu-item p {
  transition: letter-spacing 0.3s;
}
.menu-item p:hover {
  transition: letter-spacing 0.3s;
  letter-spacing: 0.075em;
}
.menu-item p#active::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--color-accent);
  width: 0%;
  z-index: -1;
  height: 20%;
}
